html, body {
    height: 100%;
    margin: 0;
}

:root {
    --main-height: 3.5rem;
    --main-block-bg: rgba(255, 255, 255, 0.82);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    color: #000000;
}

footer a, nav a, .enter-button {
    text-decoration: none;
}

header, footer {
    background: #000000;
    color: #ffffff;
    height: var(--main-height);
    line-height: var(--main-height);
    width: 100%;
    display: flex;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    justify-content: space-between;
    padding: 0 5%;
}

header, nav, .main-block, .enter-button {
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.site-title {
    font-size: 200%;
    padding-top: 0.25rem;
    margin: 0;
    font-weight: bold;
    color: #FFF;
}

#menu-button {
    vertical-align: middle;
    font-size: 130%;
    background: none;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    height: 2.5rem;
    width: 2.5rem;
}

#menu-button::before {
    font-family: "Fontawesome", sans-serif;
    content: "\f0c9";
}

#menu-button:hover, #menu-button:focus {
    background: #ffffff36;
}

.show {
    display: block;
}

nav {
    display: none;
    position: absolute;
    top: var(--main-height);
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    text-align: center;
    width: 100vw;
}

nav a {
    width: 100%;
    height: var(--main-height);
    line-height: var(--main-height);
    display: inline-block;
    color: #000000;
    font-size: 140%;
    border-bottom: #000000 2px solid;
}

main {
    font-size: 1.5rem;
    text-align: center;
    padding: var(--main-height) 0 10%;
    background: linear-gradient(#41B562, #9CE4B0);
    flex: 1 0 auto;
}

main > * {
    margin: 10% auto 0;
    width: 88%;
}

.main-block {
    width: 88%;
    background: var(--main-block-bg);
    border-radius: 35px;
    max-width: 28.125rem;
}


h1, h2 {
    color: #ffffff;
    display: inline-block;
}

.instruction {
    padding: 2rem 1rem;
}

.instruction figcaption {
    width: 90%;
    font-size: 120%;
    margin: 0 auto;
}

.list-decoration {
    margin: 0 auto;
    width: 75%;
}

.icons-block, .instruction ol {
    margin: 8% 0 0;
}

.icons-block {
    width: 10%;
    float: left;
}

.instruction ol {
    display: inline-block;
    width: 90%;
}


.instruction ol li, .icons-block i {
    margin-top: 30px;
    text-align: left;
    font-weight: bold;
}

button {
    cursor: pointer;
}

.right {
    width: 100%;
    margin: 0;
}

.right > *, .left > * {
    margin-right: auto;
    margin-left: auto;
}

.left {
    display: none;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: start;
    font-size: 130%;
    padding: 6% 6%;
    margin-top: 6%;
}

input, textarea, select {
    border-radius: 0.5rem;
    background: #ffffff;
}

input, textarea, select, .enter-button, optgroup {
    font-family: "Yanone Kaffeesatz", sans-serif;
    display: inline-block;
    border: none;
    font-size: 75%;
    padding: 0.6rem;
}

input, select {
    width: 100%;
    height: 2.5rem;
}

input:focus, textarea:focus {
    outline: none;
}

textarea {
    width: 100%;
    resize: none;
}

.enter-button {
    min-width: 10rem;
    max-width: fit-content;
    padding: 0 2.5rem;
    height: var(--main-height);
    line-height: var(--main-height);
    font-size: 80%;
    border-radius: 2.5rem;
    color: #ffffff;
    background: #000000;
    margin: 0 auto;
}

a.enter-button {
    font-size: 100%
}

footer {
    flex-shrink: 0;
    justify-content: space-evenly;
}

footer a {
    color: #ffffff;
    font-size: 125%;
}

/* для зручності */

main div .report{
    background-color: rgba(156, 228, 176, 0.9);
}

/* для зручності */

@media screen and (min-width: 540px) {
    header {
        padding: 0 1.8rem;
    }

    main > * {
        margin: 5% auto 0;
    }
    h1, h2 {
    max-width: 28.125rem;
}
}

@media screen and (min-width: 1000px) {
    .left, .right {
        display: inline-block;
        width: 50%;
    }

    .left {
        float: left;
    }
}