/*general start*/
html, body {
    height: 100%;
    margin: 0;
}

:root {
    --main-height: 3.5rem;
    --main-block-bg: rgba(255, 255, 255, 0.82);
    --margin-or-padding: 8%;
    --box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

small {
    color: red;
}

button {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    color: #000000;
}

footer a, nav a, .enter-button {
    text-decoration: none;
}
/*general end*/


header, footer {
    background: #000000;
    color: #ffffff;
    height: var(--main-height);
    line-height: var(--main-height);
    width: 100%;
    display: flex;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    justify-content: space-between;
    padding: 0 5%;
    box-shadow: var(--box-shadow);
}

.site-title {
    font-size: 200%;
    padding-top: 0.25rem;
    margin: 0;
    font-weight: bold;
    color: #ffffff;
}

/*menu button start*/
#menu-button {
    vertical-align: middle;
    font-size: 130%;
    background: none;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    height: 2.5rem;
    width: 2.5rem;
}

#menu-button::before {
    font-family: "Fontawesome", sans-serif;
    content: "\f0c9";
}

#menu-button:hover, #menu-button:focus {
    background: #ffffff36;
}
/*menu button end*/

.show {
    display: block;
}

nav {
    display: none;
    position: absolute;
    top: var(--main-height);
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    text-align: center;
    width: 100vw;
    box-shadow: var(--box-shadow);
}

nav a {
    width: 100%;
    height: var(--main-height);
    line-height: var(--main-height);
    display: inline-block;
    color: #000000;
    font-size: 140%;
    border-bottom: #000000 2px solid;
}

main {
    font-size: 1.5rem;
    text-align: center;
    padding: var(--main-height) 0 var(--margin-or-padding);
    background: linear-gradient(#41B562, #9CE4B0);
    flex: 1 0 auto;
}

main > *, .left > *, .right > * {
    margin: 2rem auto 0;
    width: 88%;
}

.main-block {
    width: 88%;
    background: var(--main-block-bg);
    border-radius: 35px;
    max-width: 34rem;
    box-shadow: var(--box-shadow);
}

h1, h2 {
    font-size: 175%;
    max-width: 34rem;
    color: #ffffff;
    display: inline-block;
}

.instruction, form {
    padding: 1.5rem;
}

.login-form, .instruction {
    height: 29rem;
    min-height: fit-content;
}

.instruction {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 120%;
}

.icons-block, .instruction ol {
    margin: 0;
}

.icons-block {
    width: 12%;
    float: left;
}

.instruction ol {
    display: inline-block;
    width: 80%;
}

/*.icons-block {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*    align-items: center;*/
/*}*/

.instruction ol li, .icons-block i {
    margin-top: 2rem;
    text-align: left;
    font-weight: bold;
}

.right {
    width: 100%;
    margin: 0;
}

.right > *, .left > * {
    margin-right: auto;
    margin-left: auto;
}

.left {
    display: none;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: start;
    font-size: 120%;
}

form > *, .instruction figcaption {
    margin-top: 1.7rem;
}

input, textarea, select {
    border-radius: 0.5rem;
    background: #ffffff;
}

input, textarea, select, .enter-button, optgroup {
    font-family: "Yanone Kaffeesatz", sans-serif;
    display: inline-block;
    border: none;
    font-size: 75%;
    padding: 0.6rem;
}

input, select {
    width: 100%;
    height: 2.5rem;
}

input:focus, textarea:focus {
    outline: none;
}

textarea {
    height: 12rem;
    width: 100%;
    resize: none;
}

.enter-button {
    min-width: 10rem;
    max-width: fit-content;
    padding: 0 2.5rem;
    height: var(--main-height);
    line-height: var(--main-height);
    font-size: 80%;
    border-radius: 2.5rem;
    color: #ffffff;
    background: #000000;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
}

a.enter-button {
    font-size: 100%
}

footer {
    flex-shrink: 0;
    justify-content: space-evenly;
}

footer a {
    color: #ffffff;
    font-size: 125%;
}

/* для зручності */

main div .report{
    background-color: rgba(156, 228, 176, 0.9);
}

/* для зручності */

@media screen and (min-width: 540px) {
    header {
        padding: 0 1.8rem;
    }
}

@media screen and (min-width: 768px) {

    .left, .right {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
    }

    .left {
        float: left;
    }

    h1, h2 {
        width: 88%;
        height: calc(var(--main-height) * 2);
        font-size: 140%;
    }

    h1 {
        line-height: calc((var(--main-height) + 50px) / 2);
    }

    h2 {
        line-height: calc(var(--main-height) + 50px);
    }

}

@media screen and (min-width: 1000px) {

}