/*general start*/
html, body {
    height: 100%;
    margin: 0;
}

:root {
    --main-height: 3.5rem;
    --main-block-bg: rgba(255, 255, 255, 0.82);
    --margin-or-padding: 8%;
    --main-width: 88%;
    --box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

small {
    color: red;
}

button, .fa-eye {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    color: #000000;
}

footer a, nav a, .enter-button {
    text-decoration: none;
}
/*general end*/


header, footer {
    background: #000000;
    color: #ffffff;
    height: var(--main-height);
    line-height: var(--main-height);
    width: 100%;
    display: flex;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    justify-content: space-between;
    padding: 0 5%;
    box-shadow: var(--box-shadow);
}

.site-title {
    font-size: 200%;
    padding-top: 0.25rem;
    margin: 0;
    font-weight: bold;
    color: #ffffff;
}

header .fa-circle-user {
    color: #ffffff;
    text-decoration: none;
    font-size: 200%;
}

.show {
    display: block;
}

main {
    font-size: 120%;
    text-align: center;
    padding: var(--main-height) 0 0;
    background: linear-gradient(#41B562, #9CE4B0);
    flex: 1 0 auto;
}

main > *, .side-wrapper > * {
    margin: 2rem auto 0;
    width: var(--main-width);
}

main > *:last-child  {
    margin-bottom: calc(var(--main-height) / 1.5);
}

.logged {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.side-wrapper .instruction {
    margin-bottom: calc(var(--main-height) / 1.5);
}

.main-block {
    width: var(--main-width);
    background: var(--main-block-bg);
    border-radius: 35px;
    max-width: 50rem;
    padding: 1.7rem;
    font-size: 120%;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.folders {
    align-self: start;
    justify-self: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start !important;
}

.folders > * {
    margin-top: 2rem;
}

.folders-elem {
    width: var(--main-width);
    max-width: 400px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.folders-elem h3 {
    margin: 0;
}

.folders-elem h3::before {
    font-family: "Fontawesome", sans-serif;
    content: "\f015";
    margin-right: 1rem;
    font-size: 90%;
}

.side-wrapper {
    width: 100%;
}

.side-wrapper > * {
    width: var(--main-width);
}

h1, h2 {
    font-size: 175%;
    color: #ffffff;
    height: fit-content;
    display: inline-block;
    padding-bottom: 0;
}

.instruction {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.icons-block, .instruction ol, .side-wrapper, .alert {
    margin: 0 auto;
}

.icons-block {
    width: 12%;
    float: left;
}

.instruction ol {
    display: inline-block;
    width: 80%;
}

.instruction ol li, .icons-block i {
    margin-top: 2rem;
    text-align: left;
    font-weight: bold;
}

.main-block .fa-circle-user {
    font-size: 10rem;
    margin-bottom: 1.7rem;
    color: #41B562;
}

.icons-block i {
    margin-top: 1.78rem;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: start;
}

form div {
    margin: 0;
}

form > *, .instruction figcaption {
    margin-top: 1.7rem;
}

input, textarea, select {
    border-radius: 0.5rem;
    background: #ffffff;
}

input, textarea, select, .enter-button, optgroup {
    font-family: "Yanone Kaffeesatz", sans-serif;
    display: inline-block;
    border: none;
    font-size: 75%;
    padding: 0.6rem;
}

.fa-eye {
    font-size: 70%;
    text-align: right;
    margin: -3.7rem 0.7rem 0 0;
}

.login-form button {
    margin-top: 2.4rem;
}

input, select {
    width: 100%;
    height: 2.5rem;
}

input:focus, textarea:focus {
    outline: none;
}

textarea {
    height: 12rem;
    width: 100%;
    resize: none;
}

.enter-button {
    min-width: 10rem;
    max-width: fit-content;
    padding: 0 2.5rem;
    height: var(--main-height);
    line-height: var(--main-height);
    font-size: 100%;
    border-radius: 2.5rem;
    color: #ffffff;
    background: #000000;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
}

a.enter-button {
    font-size: 100%
}

footer {
    flex-shrink: 0;
    justify-content: space-evenly;
}

footer a {
    color: #ffffff;
    font-size: 125%;
}

@media screen and (min-width: 540px) {
    header {
        padding: 0 1.8rem;
    }
    main {
        font-size: 130%;
    }

    .main-block .fa-circle-user {
        font-size: 11rem;
    }
}

@media screen and (min-width: 768px) {
    main {
        font-size: 140%;
    }

    .main-block .fa-circle-user {
        font-size: 12rem;
    }

    .side-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 50%;
    }

    .side-wrapper:first-child {
        float: left;
    }

    .folders {
        width: 100%;
    }

    .side-wrapper > * {
        width: 88%;
    }

    .side-wrapper .main-block {
        height: 23rem;
    }

    .side-wrapper .heading{
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(var(--main-height) * 1.5);
        font-size: 170%;
    }

    .folders-elem {
        width: calc(var(--main-width) / 2);
    }
}

@media screen and (min-width: 1080px) {
    main {
        font-size: 150%;
    }

    .main-block .fa-circle-user {
        font-size: 13rem;
    }

    .folders-elem {
        width: calc(var(--main-width) / 3);
    }
}