
<!DOCTYPE html>
{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hostel Help</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;500;600&display=swap"
        rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/72cdf14cdd.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <p class="site-title">HOSTEL HELP KPI</p>
        <div class="navigation">
            <button id="menu-button" onclick="openMenu()" title="Меню сайту"></button>
            <nav id="menu">
            </nav>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <a href="https://t.me/sr_kpi" target="_blank" class="fa-brands fa-telegram"><span
                class="fa-sr-only">Telegram</span></a>
        <a href="https://www.instagram.com/sr_kpi/" target="_blank" class="fa-brands fa-instagram"><span
                class="fa-sr-only">Instagram</span></a>
        <a href="#" target="_blank" class="fa-brands fa-facebook"><span
                class="fa-sr-only">Facebook</span></a>
    </footer>
</body>