{% extends "base.html" %}

{% load static %}
{% block css_files %}
<link href="{% static '/css/main-page.css' %}" rel="stylesheet" type="text/css" />
{% endblock css_files %}

{% block content %}
<div class="side-wrapper">
    <h1 class="heading">Вирішення побутових проблем жителів студміста КПІ</h1>
    <figure class="instruction main-block">
        <figcaption>Повідом адміністрацію про наявну проблему за три кроки:</figcaption>
        <div class="list-decoration">
            <div class="icons-block">
                <i class="fa-solid fa-user"><span class="fa-sr-only">Enter</span></i>
                <i class="fa-solid fa-hand-pointer"><span class="fa-sr-only">Choose</span></i>
                <i class="fa-solid fa-laptop"><span class="fa-sr-only">Fill</span></i>
            </div>
            <ol>
                <li>Авторизуйся</li>
                <li>Обери тип проблеми</li>
                <li>Заповни заявку</li>
            </ol>
        </div>
    </figure>
</div>
{% if user.is_authenticated %}
<div class="alert alert-success side-wrapper" role="alert">
    <h2 class="heading">Вітаємо, {{ user.username }}!</h2>
    <div class="logged main-block">
        <i class="fa-solid fa-circle-user"><span class="fa-sr-only">User</span></i>
        {% if user.is_superuser %}
        <a href="{% url 'folders' %}" class="enter-button">До заявок</a>
        {% else %}
        <a href="{% url 'report' %}" class="enter-button">Заповнити заявку</a>
        {% endif %}
    </div>
    <p>
        <a href="{% url 'logout' %}?next=../">Вийти?</a>
    </p>
</div>
{% else %}
<div class="side-wrapper">
    <h2 class="heading">Вхід</h2>

    <form action="" method="POST" class="main-block login-form">
        {% csrf_token %}
        {% for field in form %}
        <p>{{ field.label }}: {{ field }}</p>

        {% for error in field.errors %}
        <small>{{ error }}</small><br>
        {% endfor %}

        {% endfor %}
        <button type="button" class="password-button fa-regular fa-eye-slash" onclick="showPassword()"></button>
        <button type="submit" class="enter-button">Вхід</button>
    </form>
    <div class="alert alert-success" role="alert">
        <p><a href="{% url 'password_reset' %}">Забули пароль?</a></p>
        <p>Уперше тут?
            <a href="{% url 'register' %}">Реєстрація</a>
        </p>
    </div>

</div>
{% endif %}
{% endblock %}