{% extends "base.html" %}

{% load static %}

{% block content %}
<h1 class="main-h1">Вирішення побутових проблем жителів студміста КПІ</h1>

<figure class="instruction">
    <figcaption>Повідом адміністрацію про наявну проблему за три кроки:</figcaption>
    <ol>
        <li>Авторизуйся</li>
        <li>Обери тип проблеми</li>
        <li>Заповни заявку</li>
    </ol>
</figure>

{% if user.is_authenticated %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome {{ user.username }}!</h3>
        <a href="{% url 'logout' %}?next=../">Logout?</a>
    </div>
{% else %}
    <div class="alert alert-success" role="alert">
        <a href="{% url 'login' %}" class="enter-button">Вхід</a>
        <p>Вперше тут?
            <a href="{% url 'register' %}">Реєстрація</a>
        </p>
    </div>
<!--    <div class="alert alert-success" role="alert">-->
<!--        <h3>Welcome, unverified aboba.</h3>-->
<!--        <a href="{% url 'login' %}">Login?</a>-->
<!--    </div>-->
{% endif %}
{% endblock %}
