{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <header>
        <p class="site-title">HOSTEL HELP KPI</p>
        <nav>

        </nav>
    </header>

    <main>
        {% block content %}
        <h1>Вирішення побутових проблем жителів студміста КПІ</h1>

        <figure class="instruction">
            <figcaption>Повідом адміністрацію про наявну проблему за три кроки:</figcaption>
            <ol>
                <li>Авторизуйся</li>
                <li>Обери тип проблеми</li>
                <li>Заповни заявку</li>
            </ol>
        </figure>
        <div>

        </div>

        <a href="#">Вхід</a>
        <p>Вперше тут?
            <a href="#">Реєстрація</a>
        </p>
        {% if user.is_authenticated %}
            <div class="alert alert-success" role="alert">
                <h3>Welcome {{ user.username }}!</h3>
                <a href="{% url 'logout' %}?next=../">Logout?</a>
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                <h3>Welcome, unverified aboba.</h3>
                <a href="{% url 'login' %}">Login?</a>
            </div>
        {% endif %}
        {% endblock %}
    </main>

    <footer>
        <a href="#">Telegram</a>
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
    </footer>
</body>