{% extends "base.html" %}

{% load static %}

{% block content %}
    {% if user.is_autheticated %}
        <h2>Ви вже зареєстровані, {{ user.username }}</h2>
    {% else %}
    <div class="right">
        <h2>Вхід</h2>

        <form action="" method="POST" class="main-block login-form">
            {% csrf_token %}
            {% for field in form %}
                <p>{{ field.label }}: {{ field }}</p>

                {% for error in field.errors %}
                    <small>{{ error }}</small><br>
                {% endfor %}

            {% endfor %}
            <button type="submit" class="enter-button">Вхід</button>
        </form>
        <p><a href="{% url 'password_reset' %}">Забули пароль?</a></p>
        <p>Уперше тут?
            <a href="{% url 'register' %}">Реєстрація</a>
        </p>
    </div>
    {% endif %}
{% endblock %}