{% extends "base.html" %}

{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Ви вже зареєстровані, {{ user.username }}</h2>
    {% else %}
        <h1>Вхід</h1>

        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <p>{{ field.label }}: {{ field }}</p>

                {% for error in field.errors %}
                    <small style="color: red">{{ error }}</small><br>
                {% endfor %}

            {% endfor %}
            <button type="submit" class="enter-button">Вхід</button>
        </form>
        <p>Вперше тут?
            <a href="{% url 'register' %}">Реєстрація</a>
        </p>
<!--        <p>Don't have an account? <a href="{% url 'register' %}">Signup here</a></p>-->
    {% endif %}
{% endblock %}