{% extends "base.html" %}
{% block content %}
<h1>Змінити пароль</h1>
{% if form.errors %}
<div>
    {% for key, value in form.errors.items %}
    <strong>{{ value }}</strong>
    {% endfor %}
</div>
<button><span>&times;</span></button>
{% endif %}
<form method="POST" class="main-block">
    {% csrf_token %}
    {% for field in form %}
    <p>{{ field.label }}: {{ field }}</p>

    {% for error in field.errors %}
    <small>{{ error }}</small><br>
    {% endfor %}
    {% endfor %}
    <button class="enter-button" type="submit" id="reset">Змінити пароль</button>
</form>
{% endblock content %}