{% extends "base.html" %}
{% block content %}
<h1>Скинути пароль</h1>
<p>Забули пароль? Введіть ваш email, ми надішлемо подальші інструкції.</p>
<form method="POST" class="main-block">
    {% csrf_token %}
    {% for field in password_reset_form %}
        <p>{{ field.label }}: {{ field }}</p>
        {% for error in field.errors %}
            <small>{{ error }}</small><br>
        {% endfor %}
    {% endfor %}
    <button type="submit" class="enter-button">Отримати листа</button>
</form>
{% endblock content %}