{% extends "base.html" %}
{% block content %}
<!-- <p>На ваш Email було надіслано лист з подальшими інструкціями для відновлення</p> -->
<!--<div class="">-->
  	 	<h1>Скинути пароль</h1>
<!--		<hr>-->
		<p>Забули пароль? Введіть ваш Email, ми надішлемо подальші інструкції.</p>
        <form method="POST" class="main-block">
            {% csrf_token %}
            {{ password_reset_form }}                    
            <button type="submit" class="enter-button">Отримати листа</button>
        </form>
<!--</div> -->
{% endblock content %}