{% extends "base.html" %}

{% load static %}
{% block css_files %}
<link href="{% static '/css/profile.css' %}" rel="stylesheet" type="text/css" />
{% endblock css_files %}

{% block content %}
   {% if user.is_superuser %}
      {% if reports %}
         {% for report in reports %}
         <div class="report" id="{{ report.id }}">
               <div class="report-content">
                  <p>{{ report.date }}   {{ report.status }} <a onclick="return confirm('Ви впевнені, що бажаєте видалити запис?')" href="{% url 'delete_report' dormitory report.id %}">X</a>
                     <a href="https://t.me/share/url?url=http://127.0.0.1:8000/&text={{ report.date }}%0A
{{ report.email }}%0A{{ report.title }}%0AТип: {{ report.problem_type }}%0AГуртожиток: {{ report.dormitory }}%0AКонкретне місце: {{report.exact_place }}%0A
Опис: {{ report.description }}" target="_blank">
                        Поширити в Telegram
                     </a>
                  </p>
                  <h3>{{ report.email }}</h3>
                  <h2>{{ report.title }}</h2>
                  <h6>{{ report.problem_type }}</h6>
                  <h6>{{ report.dormitory }}</h6>
                  <p>{{ report.exact_place }}</p>
                  <p>{{ report.description }}</p>
                  <form action="{% url 'change_status' dormitory report.id %}?next={{ request.path|urlencode }}#{{ report.id }}" method="POST">
                     {% csrf_token %}
                     {% if report.status == "Неактивна" %}
                        <button type="submit">Прийняти</button>
                     {% elif report.status == "Активна" %}
                        <button type="submit" onclick="return confirm('Ви впевнені, що бажаєте закрити запис?')">Закрити</button>
                     {% endif %}
                  </form>
                  {% if report.status == "Активна" %}
                     <button class="reply-button" data-value="{{ report.id }}" onclick="showAnswerPopup(this)">Відповісти {{ report.id }}</button>
                     <!-- <form action="" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                           {{ field.label }}
                           {{ field }}
                        {% endfor %}
                        <input type="hidden" name="report_id" value="{{ report.id }}">
                        <input type="submit" value="Надіслати"/>
                     </form> -->
                  {% endif %}
               </div>

               {% if report.contact_emails.all %}
                  <button class="show-replies" data-value="{{ report.id }}" onclick="showReplies(this)">Показати відповіді</button>
                  <button class="hide-replies" data-value="{{ report.id }}" onclick="hideReplies(this)">Сховати відповіді</button>
               {% endif %}
               <!-- це має бути сховане, і якщо тисне що хоче переглянути наявні реплаї, тоді показуєм -->
               <div class="all-replies" data-value="{{ report.id }}">
                  {% for reply in report.contact_emails.all %}
                     <div class="reply">
                        <p class="">{{ reply.date }}</p>
                        <p>{{ reply.message }}</p>
                     </div>
                  {% endfor %}
               </div>
            <!-- це має бути сховане, і якщо тисне що хоче переглянути наявні реплаї, тоді показуєм -->

         </div>   
         {% endfor %}
         <form action="" method="POST" id="report-answer" onsubmit="refreshToSameScroll()">
            <button type="button" class="cancel" onclick="hideAnswerPopup()">Х</button>
            {% csrf_token %}
            {% for field in form %}
               {{ field.label }}
               {{ field }}
            {% endfor %}
            <input type="hidden" id="report_id" name="report_id" value="">
            <input type="submit" value="Надіслати" onclick="hideAnswerPopup()"/>
         </form>
      {% endif %}

   {% else %}
      <h2>Мої повідомлення</h2>
      {% for report in reports %}
         <div class="">
            <h2>{{ report.title }}</h2>
            <p>{{ report.date }}</p>
            <h6>{{ report.problem_type }}</h6>
            <h6>{{ report.dormitory }}</h6>
            <p>{{ report.exact_place }}</p>
            <p>{{ report.description }}</p>
         </div>

         {% if report.contact_emails.all %}
            <button class="show-replies" data-value="{{ report.id }}" onclick="showReplies(this)">Показати відповіді</button>
            <button class="hide-replies" data-value="{{ report.id }}" onclick="hideReplies(this)">Сховати відповіді</button>
         {% endif %}
         <!-- це має бути сховане, і якщо тисне що хоче переглянути наявні реплаї, тоді показуєм -->
         <div class="all-replies" data-value="{{ report.id }}">
            {% for reply in report.contact_emails.all %}
               <div class="reply">
                  <p class="">{{ reply.date }}</p>
                  <p>{{ reply.message }}</p>
               </div>
            {% endfor %}
         </div>
         <!-- це має бути сховане, і якщо тисне що хоче переглянути наявні реплаї, тоді показуєм -->

         <!-- {% if report.contact_emails.all %}
            <button>Показати відповіді</button>
         {% endif %} -->
         <!-- це має бути сховане, і якщо тисне що хоче переглянути наявні реплаї, тоді показуєм -->
         <!-- {% for reply in report.contact_emails.all %}
               <div class="">
               <p class="">{{ reply.date }}</p>
               <p>{{ reply.message }}</p>
            </div>
         {% endfor %} -->
         <!-- це має бути сховане, і якщо тисне що хоче переглянути наявні реплаї, тоді показуєм -->
      {% endfor %}
   {% endif %} 

   {% if reports.has_other_pages %}
         <ul class="pagination">
            {% if reports.has_previous %}
               <li><a href="?page={{ reports.previous_page_number }}">&laquo;</a></li>
            {% else %}
               <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in reports.paginator.page_range %}
               {% if reports.number == i %}
               <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
               {% else %}
               <li><a href="?page={{ i }}">{{ i }}</a></li>
               {% endif %}
            {% endfor %}
            {% if reports.has_next %}
               <li><a href="?page={{ reports.next_page_number }}">&raquo;</a></li>
            {% else %}
               <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
         </ul>
      {% endif %}
      
{% endblock %}
