{% extends "base.html" %}

{% load static %}
{% block css_files %}
<link href="{% static '/css/profile.css' %}" rel="stylesheet" type="text/css" />
{% endblock css_files %}

{% block content %}
{% if user.is_superuser %}
{% if reports %}
<h1>Заявки для гуртожитка №{{ dormitory }}</h1>
{% for report in reports %}
<div class="report" id="{{ report.id }}">
   <div class="main-block">
         <h2 class="report-title">{{ report.title }}</h2>

         <div class="information">
            <div class="time-status message-elem">
               <p>{{ report.date }}</p>
               <p class="status">{{ report.status }}</p>
            </div>

            <div class="student message-elem">
               <p>Студент/ка: {{ report.email }}</p>
            </div>

            <div class="message-elem">
               <p>Гуртожиток №{{ report.dormitory }}</p>
               <p>Кімната: {{ report.exact_place }}</p>
            </div>

            <div class="message-elem">
               <p>Тип проблеми: {{ report.problem_type }}</p>
            </div>
         </div>

         <div class="description">
            <p>Опис:</p>
            <p class="message">{{ report.description }}</p>
         </div>

         <div class="report-buttons">
         <a onclick="return confirm('Ви впевнені, що бажаєте видалити запис?')"
            href="{% url 'delete_report' dormitory report.id %}" class="enter-button"><i
               class="fa-solid fa-trash-can"><span class=""></span></i></a>
         <a href="https://t.me/share/url?url=anastasiasavchyn.pythonanywhere.com/&text={{ report.date }}%0A{{ report.email }}
                  %0A{{ report.title }}%0AТип: {{ report.problem_type }}%0AГуртожиток:{{ report.dormitory }}
                  %0AКонкретне місце: {{report.exact_place }}%0AОпис: {{ report.description }}" 
            target="_blank" class="enter-button">
            <i class="fa-brands fa-telegram"><span class="fa-sr-only">Поширити в Telegram</span></i></a>
         {% if report.status == "Неактивна" or report.status == "Активна" %}
         <form action="{% url 'change_status' dormitory report.id %}?next={{ request.path|urlencode }}#{{ report.id }}"
            method="POST">
            {% csrf_token %}
            {% if report.status == "Неактивна" %}
            <button class="enter-button" type="submit">Прийняти</button>
            {% elif report.status == "Активна" %}
            <button class="enter-button" type="submit"
               onclick="return confirm('Ви впевнені, що бажаєте закрити запис?')">Закрити</button>
            {% endif %}
         </form>
            {% endif %}
         {% if report.status == "Активна" %}
         <button class="reply-button enter-button" data-value="{{ report.id }}"
            onclick="showAnswerPopup(this)">Відповісти</button>
         {% endif %}
      </div>
   </div>



   {% if report.contact_emails.all %}
   <button class="show-replies enter-button" data-value="{{ report.id }}" onclick="showReplies(this)">Показати
      відповіді</button>
   <button class="hide-replies enter-button" data-value="{{ report.id }}" onclick="hideReplies(this)">Сховати
      відповіді</button>
   {% endif %}
   <!-- це має бути сховане, і якщо тисне що хоче переглянути наявні реплаї, тоді показуєм -->
   <div class="all-replies" data-value="{{ report.id }}">
      {% for reply in report.contact_emails.all %}
      <div class="reply">
         <p class="">{{ reply.date }}</p>
         <p>{{ reply.message }}</p>
      </div>
      {% endfor %}
   </div>
   <!-- це має бути сховане, і якщо тисне що хоче переглянути наявні реплаї, тоді показуєм -->

</div>
{% endfor %}
<form action="" method="POST" id="report-answer" onsubmit="refreshToSameScroll()">
   <button type="button" class="cancel" onclick="hideAnswerPopup()"></button>
   {% csrf_token %}
   {% for field in form %}
   <p>{{ field.label }}: {{ field }}</p>
   {% endfor %}
   <input type="hidden" id="report_id" name="report_id" value="">
   <input class="enter-button" type="submit" value="Надіслати" onclick="hideAnswerPopup()" />
</form>
{% endif %}

{% else %}
<h1>Мої повідомлення</h1>
{% for report in reports %}
<div class="main-block">
   <h2 class="report-title">{{ report.title }}</h2>

   <div class="information">
      <div class="time-status message-elem">
         <p>{{ report.date }}</p>
         <p class="status">{{ report.status }}</p>
      </div>

      <div class="message-elem">
         <p>Гуртожиток №{{ report.dormitory }}</p>
         <p>Кімната: {{ report.exact_place }}</p>
      </div>

      <div class="message-elem">
         <p>Тип проблеми: {{ report.problem_type }}</p>
      </div>
   </div>

   <div class="description">
      <p>Опис:</p>
      <p class="message">{{ report.description }}ааап оаморав ровроваро ровароваро вар опва орва првао ва увро орпва оваро овао вро ова овао ва ово ааап оаморав ровроваро ровароваро вар опва орва првао ва увро орпва оваро овао вро ова овао ва ово ааап оаморав ровроваро ровароваро вар опва орва првао ва увро орпва оваро овао вро ова овао ва ово ааап оаморав ровроваро ровароваро вар опва орва првао ва увро орпва оваро овао вро ова овао ва ово </p>
   </div>
</div>

{% if report.contact_emails.all %}
<button class="show-replies enter-button" data-value="{{ report.id }}" onclick="showReplies(this)">Показати
   відповіді</button>
<button class="hide-replies enter-button" data-value="{{ report.id }}" onclick="hideReplies(this)">Сховати
   відповіді</button>
{% endif %}
<!-- це має бути сховане, і якщо тисне що хоче переглянути наявні реплаї, тоді показуєм -->
<div class="all-replies" data-value="{{ report.id }}">
   <h3>Відповіді:</h3>
   {% for reply in report.contact_emails.all %}
   <div class="reply">
      <p class="">{{ reply.date }}</p>
      <p>{{ reply.message }}</p>
   </div>
   {% endfor %}
</div>
<!-- це має бути сховане, і якщо тисне що хоче переглянути наявні реплаї, тоді показуєм -->
{% endfor %}
{% endif %}

{% if reports.has_other_pages %}
<ul class="pagination">
   {% if reports.has_previous %}
   <li><a href="?page={{ reports.previous_page_number }}">&laquo;</a></li>
   {% else %}
   <li class="disabled"><span>&laquo;</span></li>
   {% endif %}
   {% for i in reports.paginator.page_range %}
   {% if reports.number == i %}
   <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
   {% else %}
   <li><a href="?page={{ i }}">{{ i }}</a></li>
   {% endif %}
   {% endfor %}
   {% if reports.has_next %}
   <li><a href="?page={{ reports.next_page_number }}">&raquo;</a></li>
   {% else %}
   <li class="disabled"><span>&raquo;</span></li>
   {% endif %}
</ul>
{% endif %}

{% endblock %}