{% extends "base.html" %}

{% load static %}

{% block content %}
    <h2>Відповісти</h2>
   <form action="{% url 'profile' %}" method="POST" class="main-block">
        {% csrf_token %}
        <p>Кому: <input type="text" name="to" placeholder="Email"/></p>
        <p>Повідомлення:
            <textarea name="message" maxlength="500" placeholder="Введіть відповідь на повідомлення користувача"></textarea>
        </p>
        <input type="submit" value="Надіслати" class="enter-button"/>
    </form>
{% endblock %}